$color-primary  :  #ecf0f1  ;   //  blanco 
$color-secundary  :  #979a9a  ;   //  gris 
$color-tertiary  :  #3498db  ;   //  azul 
$color-hover  :  #0f2837  ; 
$color-borde  :  #266b99  ; 
$color-background :  #0A1C27  ; 
$color-cardBackground :  #091a24  ; 