
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@400;500&display=swap');

//font-family: 'Source Code Pro', monospace;
//font-family: 'Ubuntu', sans-serif;
//font-family: 'M PLUS Code Latin', sans-serif;

$font-principal: 'Ubuntu', sans-serif;
$font-special: 'Source Code Pro', monospace;
$font-special2:'M PLUS Code Latin', sans-serif;